body {
	font-family: sans-serif;
	background-repeat:no-repeat;
	background-position:center center;
	transition: background 3s ease;
	background-attachment:fixed;
	overflow: hidden;

}

p {
	display: inline-block;
	margin: 5px;
}

header img {
	width: 400px;
}

#logo {
	opacity: 1;
	position: relative;
} 

header {
	text-align: center;
}

article:nth-child(1), article:nth-child(2) {
	text-align: center;
}



.flex-container {
	display:flex;
	margin-top: 150px;
	flex-wrap: wrap;
}

.item {
	display:block;
	width: 100%;
	align-self: center;
}

#greeting {
	font-size: 30px;
	color: white;
	position: relative;
	
}

#moon {
	position: relative;
	display: none;
}

#moon img {
	width: 130px;
	opacity: 0.8;
}

#sun {
	position: relative;
	display: none;
}

#sun img {
	width: 80px;
	opacity: 0.7;
}

#dayMonthYear {
	position: relative;
	font-size: 20px;
	color: white;
}

#mineClock {
	font-size: 70px;
	text-align: center;
	position: relative;
	display: inline-block;
	color: white;
	opacity: 0.9;
	vertical-align: middle;
}

#sec {
	font-size: 70px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	display: inline-block;
	color: white;
	opacity: 0.9;
}

@media only screen and (min-width: 400px) { 


	#greeting {
	font-size: 30px;

}


#dayMonthYear {

		font-size: 20px;

}

#mineClock {
	font-size: 80px;

}

#sec {
	font-size: 80px;

}
	
}



@media only screen and (min-width: 600px) { 
		body {
		background-size:cover;
	}
		#greeting {
	font-size: 35px;
	font-weight: 100;

}



#dayMonthYear {
		font-size: 25px;
		font-weight: 100;

}

#mineClock {
	font-size: 120px;

}

#sec {
	font-size: 120px;

}
}

@media only screen and (min-width: 706px) { 
	#mineClock {
		font-size: 150px;
	}
	#sec {
		font-size: 150px;
	}
	
}

@media only screen and (min-width: 1200px) { 
	#greeting {
	font-size: 45px;

}

#moon {
	position: relative;
}

#dayMonthYear {

		font-size: 30px;

}

#mineClock {
	font-size: 200px;

}

#sec {
	font-size: 200px;


}
	
}